<nav mat-tab-nav-bar class="position-fixed bottom-0 w-100" [tabPanel]="tabPanel">
  <a id="list" mat-tab-link routerLink="" [active]="selected === 'list'" (click)="onClick('list')">
    <i class=" bi-list-task fs-2"></i>
  </a>
  <a id="form" mat-tab-link routerLink="add-timer" [active]="selected !== 'list'" (click)="onClick('add-timer')">
    <i class="bi bi-plus-lg fs-2"></i>
  </a>
</nav>
<button id="pause-btn" mat-mini-fab color="primary" (click)="globalPause()">
  <i class="fs-2 bi bi-pause"></i>
</button>
<mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
